body {
	overflow: hidden;
}

.controls {
	position: absolute;
	z-index: 1;
}

.controls.top {
	top: 0;
}

.controls.bottom {
	bottom: 0;
}

.controls.left {
	left: 0;
}

.controls.right {
	right: 0;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}